/* CSS RESET */

* {
    margin: 0px;
    padding: 0px;
}


/* body */

body {
    font-family: 'Baloo Bhai 2', cursive;
}


/*Logo */

#logo {
    margin: 5px;
    padding: 5px;
}

#logo img {
    margin: 5px;
    padding: 0px;
}

#logo div {
    color: rgb(53, 114, 45);
}


/* Navigation bar */

nav {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav a {
    display: block;
    background: rgb(53, 114, 45);
    color: #fff;
    text-decoration: none;
    padding: 0.8em 1.8em;
    text-transform: uppercase;
    font-size: 100%;
    letter-spacing: 2px;
    text-shadow: 0 -1px 0 #000;
    position: relative;
}

.nav {
    vertical-align: top;
    display: inline-block;
    box-shadow: 1px -1px -1px 1px rgb(32, 124, 94), -1px 1px -1px 1px #fff, 0 0 6px 3px #fff;
    border-radius: 6px;
}

.nav li {
    position: relative;
}

.nav>li {
    float: left;
    border-bottom: 4px #aaa solid;
    margin-right: 1px;
}

.nav>li>a {
    margin-bottom: 1px;
    box-shadow: inset 0 2em .33em -0.5em rgb(41, 161, 51);
}

.nav>li:hover,
.nav>li:hover>a {
    border-bottom-color: orange;
}

.nav li:hover>a {
    color: orange;
}

.nav>li:first-child {
    border-radius: 4px 0 0 4px;
}

.nav>li:first-child>a {
    border-radius: 4px 0 0 0;
}

.nav>li:last-child {
    border-radius: 0 0 4px 0;
    margin-right: 0;
}

.nav>li:last-child>a {
    border-radius: 0 4px 0 0;
}

.nav li li a {
    margin-top: 1px;
}


/* Important */

.nav li a:first-child:nth-last-child(2):before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border: 5px solid transparent;
    top: 50%;
    right: 5px;
}


/* submenu positioning*/

.nav ul {
    position: absolute;
    white-space: nowrap;
    border-bottom: 5px solid orange;
    z-index: 1;
    left: -99999em;
}

.nav>li:hover>ul {
    left: auto;
    margin-top: 5px;
    min-width: 100%;
}

.nav>li li:hover>ul {
    left: 100%;
    margin-left: 1px;
    top: -1px;
}


/* arrow hover styling */

.nav>li>a:first-child:nth-last-child(2):before {
    border-top-color: white;
}

.nav>li:hover>a:first-child:nth-last-child(2):before {
    border: 5px solid transparent;
    border-bottom-color: orange;
    margin-top: -5px
}

.nav li li>a:first-child:nth-last-child(2):before {
    border-left-color: #aaa;
    margin-top: -5px
}

.nav li li:hover>a:first-child:nth-last-child(2):before {
    border: 5px solid transparent;
    border-right-color: orange;
    right: 10px;
}


/* Activate current page */

#contact {
    color: orange;
    box-shadow: inset 0 2em .33em -0.5em rgb(53, 114, 45);
}


/* ------------------------------------------------------------------------------------------------------------- */


/* breadcrumb */

.breadcrumb-container {
    opacity: 0.9;
    z-index: -1;
    position: relative;
    margin: auto;
}

.breadcrumb-container img {
    width: 100%;
    height: 400px;
}

.breadcrumb-container h1 {
    color: rgb(53, 114, 45);
    font-size: 28px;
    padding: 8px 12px;
    margin: 140px;
    position: absolute;
    bottom: 50px;
    width: 100%;
    text-align: left;
}

.breadcrumb-container p {
    color: rgb(53, 114, 45);
    font-size: 32px;
    padding: 8px 12px;
    margin: 30px;
    position: absolute;
    bottom: 50px;
    width: 100%;
    text-align: center;
}

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    margin: 4em;
    position: absolute;
    bottom: 5em;
    text-align: right;
    left: 60%;
    font-size: 1.35em;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}


/* ------------------------------------------------------------------------------------------------------------- */


/* Contact form  */

#contact-form h1 {
    text-align: center;
    color: rgb(53, 114, 45);
}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    border-color: rgb(124, 122, 122);
    font-size: 1.1rem;
}

#contact-box input:hover,
#contact-box textarea:hover {
    box-shadow: 0 8px 16px 0 rgb(41, 161, 51);
}

#contact-box form {
    width: 40%;
}

#contact-box label {
    font-size: 1.3rem;
    color: rgb(53, 114, 45);
    font-family: 'Bree Serif', serif;
}


/* button */

.btn {
    padding: 6px 20px;
    border: 2px solid black;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
}


/* ------------------------------------------------------------------------------------------------------------- */


/* Google Map  */

h1 {
    text-align: center;
    color: rgb(53, 114, 45);
}

#googleMap {
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.map-container-2 {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    margin: 50px;
}

.map-container-2 iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    margin: 50px;
    position: absolute;
}


/* ------------------------------------------------------------------------------------------------------------- */


/* footer  */

footer {
    color: white;
    background-color: rgb(53, 114, 45);
    width: 100%;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-top: solid 5px rgb(124, 122, 122);
    text-transform: uppercase;
}

footer a {
    color: white;
}

.footer-details {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 10px;
    margin: 10px;
    justify-content: center;
}

.footer-details li {
    padding: 6px;
    margin: 8px;
}

.contact-details {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}